brotli==1.0.9
cryptography==36.0.2
docx==0.2.4
fake_useragent==0.1.11
importlib_metadata==4.11.3
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
monotonic==1.6
numpy==1.22.3
pandas==1.4.2
protobuf==3.20.1
pyOpenSSL==22.0.0
PyQt5==5.15.6
tldextract==3.2.1
tornado==6.1
wincertstore==0.2.1
zipp==3.8.0
